.navbar{
    @apply uppercase z-50 text-4xl fixed text-white;
    font-family: 'MadeOuterThin';
    .navbarPc{
        @apply hidden md:flex flex-row justify-between items-center bg-opacity-25 w-screen max-w-7xl py-2 px-10 rounded-3xl fixed top-[30px] left-[50%] -translate-x-[50%] ;
        background: rgba(65, 54, 88, 0.4);
        backdrop-filter: blur(15px);
    }
    .menuPc{
        @apply fixed z-40 w-[60%] overflow-hidden bg-black bg-opacity-25 h-screen top-0 right-0 flex flex-col justify-center items-start py-10 gap-20; 
        backdrop-filter: blur(15px);
        .linkMenu{
            @apply relative uppercase w-full pl-20 text-5xl scale-95 hover:scale-100 transition-all ease-in-out duration-500 text-left;
            font-family: 'MadeOuter';
            font-weight: 400;
            line-height: 88.55px;
            letter-spacing: 0.4em;
            div{
                @apply absolute flex-row top-[60%] translate-y-[-50%] justify-center items-center right-0 w-full;
                animation: textBack 20s linear infinite;
                span{
                    @apply text-7xl text-[#EEDDFF] text-opacity-15;
                }
                @keyframes textBack {
                    0%{
                        right: 0;
                    }
                    100%{
                        right: 80%;
                    }
                }
            }
            img{ 
                @apply absolute top-[50%] translate-y-[-50%] rounded-3xl right-[20px];
            }
        }
    }
}