.footerSection{
    @apply flex flex-col justify-center items-center w-full px-5 lg:px-0 py-5 lg:py-10 bg-[var(--color-bg-black)] ;
    div{
        @apply flex flex-row justify-center items-center text-[#434343] uppercase;
        a{
            @apply uppercase hover:text-white text-xl lg:text-2xl transition-all ease-in-out duration-200;
            font-family: 'Thunder';
        }
        span{
            @apply text-[#B787F5] pb-1 lg:pb-2;
        }
        h1{
            @apply text-xl;
            font-family: 'Thunder';
        }
    }
}
.footerSectionDev{
    @apply flex flex-col justify-center items-center w-full px-5 lg:px-0 py-5 lg:py-10 bg-white ;
    div{
        @apply flex flex-row justify-center items-center text-[#434343] uppercase;
        a{
            @apply uppercase hover:text-black text-xl lg:text-2xl transition-all ease-in-out duration-200;
            font-family: 'Thunder';
        }
        span{
            @apply text-[#B787F5] pb-1 lg:pb-2;
        }
        h1{
            @apply text-xl;
            font-family: 'Thunder';
        }
    }
}

.titleSayHello{
    @apply text-white text-5xl lg:text-7xl text-center font-bold uppercase;
    font-family: 'Thunder';
}
.LinksSectionSayHello{
    @apply flex flex-col justify-center shadow-lg rounded-2xl bg-opacity-30 border-[#2B1942] bg-[#2B1942] backdrop-blur-xl mt-5 p-10 gap-10 items-center border w-full max-w-xl mx-auto;
    font-family: 'GothamT';
}