@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Orbitron:wght@400..900&display=swap');

.devSection{
    @apply py-10 pt-20 lg:pt-32 flex flex-col justify-center items-center;
    .smartDev1{
        @apply flex flex-col justify-center items-center w-full max-w-7xl px-5;
        .smartHead1{
            @apply flex flex-col justify-center items-center;
            h2{
                @apply uppercase text-[#1E1E1E] text-3xl lg:text-5xl;
                font-family: 'Orbitron';
                span{
                    @apply text-[#B787F5];
                }
            }
            h1{
                @apply uppercase text-7xl lg:text-9xl font-bold text-[#1E1E1E];
                font-family: 'Thunder';
            }
            h3{
                @apply text-base lg:text-2xl font-semibold text-center text-[#1E1E1E];
                font-family: 'DM Sans';
                span{
                    @apply text-[#B787F5];
                }
            }
        }
        img{
            @apply relative w-full lg:-mt-20 mt-0 lg:scale-100 scale-150 z-0;
        }
        .textBandDev1{
            @apply absolute top-[30vh] lg:top-[35vh] -rotate-3 flex flex-col justify-center items-center w-screen overflow-x-hidden;
            div{
                @apply flex flex-row w-full justify-center items-center;
                animation: forwardText 40s infinite linear;
                h2{
                    @apply text-[#1E1E1E] uppercase font-bold text-3xl md:text-5xl lg:text-6xl;
                    font-family: 'Thunder';
                    span{
                        @apply text-[#B787F5];
                    }
                }
            }
            @keyframes forwardText {
                0%{
                    margin-left: -200%;
                }
                100%{
                    margin-left: 0%;
                }
            }
        }
        .smartCont1{
            @apply flex flex-col w-full max-w-5xl lg:-mt-20 relative justify-center items-center gap-5 text-center z-10;
            div{
                font-family: 'DM Sans';
                h2{
                    @apply font-semibold text-[#1E1E1E] text-base lg:text-xl;
                    span{
                        @apply text-[#B787F5];
                    }
                }
                p{
                    @apply text-sm lg:text-base text-[#727885];
                }
            }
        }
    }

    .smartDev2{
        @apply flex flex-col pt-[10vh] relative justify-center items-center w-full max-w-7xl px-5;

        img{
            @apply relative w-full max-w-[300px] md:max-w-[400px] lg:max-w-[500px] -rotate-6 z-0 mb-10;
        }

        .smartCont2{
            @apply flex flex-col relative justify-center items-center gap-5 text-center z-10;
            div{
                font-family: 'DM Sans';
                h2{
                    @apply font-semibold text-[#1E1E1E] text-base lg:text-xl;
                    span{
                        @apply text-[#B787F5];
                    }
                }
                p{
                    @apply text-sm lg:text-base text-[#727885];
                }
            }
        }

        .textBandDev2{
            @apply absolute top-[20vh] rotate-12 flex flex-col justify-center items-center w-screen scale-110 overflow-x-hidden;
            div{
                @apply flex flex-row w-full justify-center items-center;
                animation: forwardText 40s infinite linear;
                h2{
                    @apply text-[#1E1E1E] uppercase font-bold text-3xl md:text-5xl lg:text-6xl;
                    font-family: 'Thunder';
                    span{
                        @apply text-[#B787F5];
                    }
                }
            }
            @keyframes forwardText {
                0%{
                    margin-left: -200%;
                }
                100%{
                    margin-left: 0%;
                }
            }
        }
    }

}