@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --color-main: #b787f5;
  --color-bg-black: #0a0a0f;
}
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Orbitron:wght@400..900&display=swap");

@font-face {
  font-family: "Thunder";
  src: url("/fonts/Thunder.ttf");
}

body {
  width: 100vw !important;
  overflow-x: hidden !important;
}
